<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>value</th>
      <th>projection</th>
      <th>now_cost</th>
      <th>Total rank</th>
      <th>form</th>
      <th>total_points</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Cancelo</th>
      <td>Man City</td>
      <td>Defender</td>
      <td>7.213115</td>
      <td>41.603657</td>
      <td>6.1</td>
      <td>1.0</td>
      <td>10.0</td>
      <td>44</td>
    </tr>
    <tr>
      <th>Dias</th>
      <td>Man City</td>
      <td>Defender</td>
      <td>6.393443</td>
      <td>39.626176</td>
      <td>6.1</td>
      <td>2.0</td>
      <td>6.7</td>
      <td>39</td>
    </tr>
    <tr>
      <th>Alonso</th>
      <td>Chelsea</td>
      <td>Defender</td>
      <td>6.610169</td>
      <td>38.029441</td>
      <td>5.9</td>
      <td>3.0</td>
      <td>5.3</td>
      <td>39</td>
    </tr>
    <tr>
      <th>Pinnock</th>
      <td>Brentford</td>
      <td>Defender</td>
      <td>7.826087</td>
      <td>31.203751</td>
      <td>4.6</td>
      <td>4.0</td>
      <td>5.7</td>
      <td>36</td>
    </tr>
    <tr>
      <th>Rüdiger</th>
      <td>Chelsea</td>
      <td>Defender</td>
      <td>5.964912</td>
      <td>33.014165</td>
      <td>5.7</td>
      <td>5.0</td>
      <td>7.0</td>
      <td>34</td>
    </tr>
    <tr>
      <th>van Dijk</th>
      <td>Liverpool</td>
      <td>Defender</td>
      <td>5.151515</td>
      <td>36.220302</td>
      <td>6.6</td>
      <td>6.0</td>
      <td>6.3</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Alexander-Arnold</th>
      <td>Liverpool</td>
      <td>Defender</td>
      <td>4.605263</td>
      <td>35.889474</td>
      <td>7.6</td>
      <td>7.0</td>
      <td>4.3</td>
      <td>35</td>
    </tr>
    <tr>
      <th>Jansson</th>
      <td>Brentford</td>
      <td>Defender</td>
      <td>7.173913</td>
      <td>29.918445</td>
      <td>4.6</td>
      <td>8.0</td>
      <td>3.7</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Cash</th>
      <td>Aston Villa</td>
      <td>Defender</td>
      <td>5.800000</td>
      <td>29.011532</td>
      <td>5.0</td>
      <td>9.0</td>
      <td>7.0</td>
      <td>29</td>
    </tr>
    <tr>
      <th>Duffy</th>
      <td>Brighton</td>
      <td>Defender</td>
      <td>6.744186</td>
      <td>25.769433</td>
      <td>4.3</td>
      <td>10.0</td>
      <td>4.0</td>
      <td>29</td>
    </tr>
    <tr>
      <th>Laporte</th>
      <td>Man City</td>
      <td>Defender</td>
      <td>5.454545</td>
      <td>30.496971</td>
      <td>5.5</td>
      <td>11.0</td>
      <td>3.3</td>
      <td>30</td>
    </tr>
    <tr>
      <th>Mings</th>
      <td>Aston Villa</td>
      <td>Defender</td>
      <td>5.600000</td>
      <td>27.119627</td>
      <td>5.0</td>
      <td>12.0</td>
      <td>4.3</td>
      <td>28</td>
    </tr>
    <tr>
      <th>Keane</th>
      <td>Everton</td>
      <td>Defender</td>
      <td>5.400000</td>
      <td>25.412880</td>
      <td>5.0</td>
      <td>13.0</td>
      <td>6.0</td>
      <td>27</td>
    </tr>
    <tr>
      <th>Reguilón</th>
      <td>Spurs</td>
      <td>Defender</td>
      <td>5.384615</td>
      <td>28.133447</td>
      <td>5.2</td>
      <td>14.0</td>
      <td>2.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>Walker</th>
      <td>Man City</td>
      <td>Defender</td>
      <td>4.727273</td>
      <td>25.473752</td>
      <td>5.5</td>
      <td>15.0</td>
      <td>6.3</td>
      <td>26</td>
    </tr>
    <tr>
      <th>Marçal</th>
      <td>Wolves</td>
      <td>Defender</td>
      <td>5.434783</td>
      <td>22.275419</td>
      <td>4.6</td>
      <td>16.0</td>
      <td>6.7</td>
      <td>25</td>
    </tr>
    <tr>
      <th>Azpilicueta</th>
      <td>Chelsea</td>
      <td>Defender</td>
      <td>4.333333</td>
      <td>25.935016</td>
      <td>6.0</td>
      <td>17.0</td>
      <td>4.0</td>
      <td>26</td>
    </tr>
    <tr>
      <th>Cresswell</th>
      <td>West Ham</td>
      <td>Defender</td>
      <td>4.545455</td>
      <td>24.388298</td>
      <td>5.5</td>
      <td>18.0</td>
      <td>3.7</td>
      <td>25</td>
    </tr>
    <tr>
      <th>Ajer</th>
      <td>Brentford</td>
      <td>Defender</td>
      <td>5.111111</td>
      <td>22.408806</td>
      <td>4.5</td>
      <td>19.0</td>
      <td>3.0</td>
      <td>23</td>
    </tr>
    <tr>
      <th>Dier</th>
      <td>Spurs</td>
      <td>Defender</td>
      <td>5.000000</td>
      <td>22.191681</td>
      <td>4.6</td>
      <td>20.0</td>
      <td>1.0</td>
      <td>23</td>
    </tr>
  </tbody>
</table>