<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>value</th>
      <th>projection</th>
      <th>now_cost</th>
      <th>Total rank</th>
      <th>form</th>
      <th>total_points</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Cancelo</th>
      <td>Man City</td>
      <td>Defender</td>
      <td>7.936508</td>
      <td>46.851349</td>
      <td>6.3</td>
      <td>1.0</td>
      <td>6.0</td>
      <td>50</td>
    </tr>
    <tr>
      <th>Azpilicueta</th>
      <td>Chelsea</td>
      <td>Defender</td>
      <td>6.774194</td>
      <td>44.574633</td>
      <td>6.2</td>
      <td>2.0</td>
      <td>6.0</td>
      <td>42</td>
    </tr>
    <tr>
      <th>Duffy</th>
      <td>Brighton</td>
      <td>Defender</td>
      <td>9.090909</td>
      <td>37.848033</td>
      <td>4.4</td>
      <td>3.0</td>
      <td>4.3</td>
      <td>40</td>
    </tr>
    <tr>
      <th>van Dijk</th>
      <td>Liverpool</td>
      <td>Defender</td>
      <td>6.212121</td>
      <td>52.687897</td>
      <td>6.6</td>
      <td>4.0</td>
      <td>2.7</td>
      <td>41</td>
    </tr>
    <tr>
      <th>Pinnock</th>
      <td>Brentford</td>
      <td>Defender</td>
      <td>8.695652</td>
      <td>37.723077</td>
      <td>4.6</td>
      <td>5.0</td>
      <td>3.7</td>
      <td>40</td>
    </tr>
    <tr>
      <th>Jansson</th>
      <td>Brentford</td>
      <td>Defender</td>
      <td>8.510638</td>
      <td>38.850247</td>
      <td>4.7</td>
      <td>6.0</td>
      <td>3.7</td>
      <td>40</td>
    </tr>
    <tr>
      <th>Alexander-Arnold</th>
      <td>Liverpool</td>
      <td>Defender</td>
      <td>5.466667</td>
      <td>48.917627</td>
      <td>7.5</td>
      <td>7.0</td>
      <td>2.3</td>
      <td>41</td>
    </tr>
    <tr>
      <th>Dias</th>
      <td>Man City</td>
      <td>Defender</td>
      <td>6.451613</td>
      <td>48.379220</td>
      <td>6.2</td>
      <td>8.0</td>
      <td>2.0</td>
      <td>40</td>
    </tr>
    <tr>
      <th>Dunk</th>
      <td>Brighton</td>
      <td>Defender</td>
      <td>7.600000</td>
      <td>36.441380</td>
      <td>5.0</td>
      <td>9.0</td>
      <td>6.3</td>
      <td>38</td>
    </tr>
    <tr>
      <th>Alonso</th>
      <td>Chelsea</td>
      <td>Defender</td>
      <td>6.610169</td>
      <td>39.155892</td>
      <td>5.9</td>
      <td>10.0</td>
      <td>0.3</td>
      <td>39</td>
    </tr>
    <tr>
      <th>Cash</th>
      <td>Aston Villa</td>
      <td>Defender</td>
      <td>7.058824</td>
      <td>33.138253</td>
      <td>5.1</td>
      <td>11.0</td>
      <td>4.0</td>
      <td>36</td>
    </tr>
    <tr>
      <th>Laporte</th>
      <td>Man City</td>
      <td>Defender</td>
      <td>6.545455</td>
      <td>35.853583</td>
      <td>5.5</td>
      <td>12.0</td>
      <td>3.7</td>
      <td>36</td>
    </tr>
    <tr>
      <th>Rüdiger</th>
      <td>Chelsea</td>
      <td>Defender</td>
      <td>6.206897</td>
      <td>36.713177</td>
      <td>5.8</td>
      <td>13.0</td>
      <td>1.0</td>
      <td>36</td>
    </tr>
    <tr>
      <th>Reguilón</th>
      <td>Spurs</td>
      <td>Defender</td>
      <td>6.666667</td>
      <td>33.117471</td>
      <td>5.1</td>
      <td>14.0</td>
      <td>3.3</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Ogbonna</th>
      <td>West Ham</td>
      <td>Defender</td>
      <td>6.400000</td>
      <td>31.599576</td>
      <td>5.0</td>
      <td>15.0</td>
      <td>6.0</td>
      <td>32</td>
    </tr>
    <tr>
      <th>Cresswell</th>
      <td>West Ham</td>
      <td>Defender</td>
      <td>6.000000</td>
      <td>32.790387</td>
      <td>5.5</td>
      <td>16.0</td>
      <td>3.3</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Keane</th>
      <td>Everton</td>
      <td>Defender</td>
      <td>6.200000</td>
      <td>30.274662</td>
      <td>5.0</td>
      <td>17.0</td>
      <td>4.0</td>
      <td>31</td>
    </tr>
    <tr>
      <th>Marçal</th>
      <td>Wolves</td>
      <td>Defender</td>
      <td>6.304348</td>
      <td>27.976200</td>
      <td>4.6</td>
      <td>18.0</td>
      <td>3.3</td>
      <td>29</td>
    </tr>
    <tr>
      <th>Mings</th>
      <td>Aston Villa</td>
      <td>Defender</td>
      <td>5.800000</td>
      <td>28.792901</td>
      <td>5.0</td>
      <td>19.0</td>
      <td>2.7</td>
      <td>29</td>
    </tr>
    <tr>
      <th>Coady</th>
      <td>Wolves</td>
      <td>Defender</td>
      <td>6.000000</td>
      <td>26.433657</td>
      <td>4.5</td>
      <td>20.0</td>
      <td>5.0</td>
      <td>27</td>
    </tr>
  </tbody>
</table>