<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>value</th>
      <th>projection</th>
      <th>now_cost</th>
      <th>Total rank</th>
      <th>form</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Alonso</th>
      <td>Chelsea</td>
      <td>Defender</td>
      <td>4.035088</td>
      <td>21.229220</td>
      <td>5.7</td>
      <td>1.0</td>
      <td>7.7</td>
    </tr>
    <tr>
      <th>Reguilón</th>
      <td>Spurs</td>
      <td>Defender</td>
      <td>4.313725</td>
      <td>19.875890</td>
      <td>5.1</td>
      <td>2.0</td>
      <td>7.3</td>
    </tr>
    <tr>
      <th>Jansson</th>
      <td>Brentford</td>
      <td>Defender</td>
      <td>4.888889</td>
      <td>16.066529</td>
      <td>4.5</td>
      <td>3.0</td>
      <td>7.3</td>
    </tr>
    <tr>
      <th>Dier</th>
      <td>Spurs</td>
      <td>Defender</td>
      <td>4.347826</td>
      <td>18.307537</td>
      <td>4.6</td>
      <td>4.0</td>
      <td>6.7</td>
    </tr>
    <tr>
      <th>Laporte</th>
      <td>Man City</td>
      <td>Defender</td>
      <td>3.636364</td>
      <td>21.218677</td>
      <td>5.5</td>
      <td>5.0</td>
      <td>6.7</td>
    </tr>
    <tr>
      <th>Sánchez</th>
      <td>Spurs</td>
      <td>Defender</td>
      <td>4.222222</td>
      <td>17.752657</td>
      <td>4.5</td>
      <td>6.0</td>
      <td>6.3</td>
    </tr>
    <tr>
      <th>Alexander-Arnold</th>
      <td>Liverpool</td>
      <td>Defender</td>
      <td>2.933333</td>
      <td>23.356843</td>
      <td>7.5</td>
      <td>7.0</td>
      <td>7.3</td>
    </tr>
    <tr>
      <th>Pinnock</th>
      <td>Brentford</td>
      <td>Defender</td>
      <td>4.130435</td>
      <td>17.977007</td>
      <td>4.6</td>
      <td>8.0</td>
      <td>6.3</td>
    </tr>
    <tr>
      <th>Dias</th>
      <td>Man City</td>
      <td>Defender</td>
      <td>3.166667</td>
      <td>22.862332</td>
      <td>6.0</td>
      <td>9.0</td>
      <td>6.3</td>
    </tr>
    <tr>
      <th>Tsimikas</th>
      <td>Liverpool</td>
      <td>Defender</td>
      <td>4.285714</td>
      <td>16.078775</td>
      <td>4.2</td>
      <td>10.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>Tanganga</th>
      <td>Spurs</td>
      <td>Defender</td>
      <td>3.777778</td>
      <td>15.558122</td>
      <td>4.5</td>
      <td>11.0</td>
      <td>5.7</td>
    </tr>
    <tr>
      <th>Duffy</th>
      <td>Brighton</td>
      <td>Defender</td>
      <td>4.146341</td>
      <td>10.884298</td>
      <td>4.1</td>
      <td>12.0</td>
      <td>5.7</td>
    </tr>
    <tr>
      <th>Mings</th>
      <td>Aston Villa</td>
      <td>Defender</td>
      <td>3.000000</td>
      <td>15.043588</td>
      <td>5.0</td>
      <td>13.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>Christensen</th>
      <td>Chelsea</td>
      <td>Defender</td>
      <td>3.000000</td>
      <td>14.478885</td>
      <td>5.0</td>
      <td>14.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>Ajer</th>
      <td>Brentford</td>
      <td>Defender</td>
      <td>3.111111</td>
      <td>13.212406</td>
      <td>4.5</td>
      <td>15.0</td>
      <td>4.7</td>
    </tr>
    <tr>
      <th>Henry</th>
      <td>Brentford</td>
      <td>Defender</td>
      <td>3.111111</td>
      <td>12.897997</td>
      <td>4.5</td>
      <td>16.0</td>
      <td>4.7</td>
    </tr>
    <tr>
      <th>Pereira</th>
      <td>Leicester</td>
      <td>Defender</td>
      <td>2.727273</td>
      <td>14.523680</td>
      <td>5.5</td>
      <td>17.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>van Dijk</th>
      <td>Liverpool</td>
      <td>Defender</td>
      <td>2.307692</td>
      <td>15.533375</td>
      <td>6.5</td>
      <td>18.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>Cresswell</th>
      <td>West Ham</td>
      <td>Defender</td>
      <td>2.545455</td>
      <td>13.838111</td>
      <td>5.5</td>
      <td>19.0</td>
      <td>4.7</td>
    </tr>
    <tr>
      <th>Azpilicueta</th>
      <td>Chelsea</td>
      <td>Defender</td>
      <td>2.333333</td>
      <td>14.986716</td>
      <td>6.0</td>
      <td>20.0</td>
      <td>4.7</td>
    </tr>
  </tbody>
</table>