<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>value</th>
      <th>projection</th>
      <th>now_cost</th>
      <th>Total rank</th>
      <th>form</th>
      <th>total_points</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Vardy</th>
      <td>Leicester</td>
      <td>Forward</td>
      <td>4.615385</td>
      <td>54.843193</td>
      <td>10.4</td>
      <td>1.0</td>
      <td>7.2</td>
      <td>48</td>
    </tr>
    <tr>
      <th>Antonio</th>
      <td>West Ham</td>
      <td>Forward</td>
      <td>6.125000</td>
      <td>46.329374</td>
      <td>8.0</td>
      <td>2.0</td>
      <td>2.2</td>
      <td>49</td>
    </tr>
    <tr>
      <th>Jesus</th>
      <td>Man City</td>
      <td>Forward</td>
      <td>4.767442</td>
      <td>43.292344</td>
      <td>8.6</td>
      <td>3.0</td>
      <td>4.2</td>
      <td>41</td>
    </tr>
    <tr>
      <th>Saint-Maximin</th>
      <td>Newcastle</td>
      <td>Forward</td>
      <td>5.441176</td>
      <td>38.061526</td>
      <td>6.8</td>
      <td>4.0</td>
      <td>5.8</td>
      <td>37</td>
    </tr>
    <tr>
      <th>Maupay</th>
      <td>Brighton</td>
      <td>Forward</td>
      <td>4.923077</td>
      <td>31.828720</td>
      <td>6.5</td>
      <td>5.0</td>
      <td>4.8</td>
      <td>32</td>
    </tr>
    <tr>
      <th>Toney</th>
      <td>Brentford</td>
      <td>Forward</td>
      <td>4.920635</td>
      <td>30.051956</td>
      <td>6.3</td>
      <td>6.0</td>
      <td>5.2</td>
      <td>31</td>
    </tr>
    <tr>
      <th>Ings</th>
      <td>Aston Villa</td>
      <td>Forward</td>
      <td>3.797468</td>
      <td>35.142833</td>
      <td>7.9</td>
      <td>7.0</td>
      <td>2.8</td>
      <td>30</td>
    </tr>
    <tr>
      <th>Lukaku</th>
      <td>Chelsea</td>
      <td>Forward</td>
      <td>2.478632</td>
      <td>38.911201</td>
      <td>11.7</td>
      <td>8.0</td>
      <td>4.8</td>
      <td>29</td>
    </tr>
    <tr>
      <th>Jiménez</th>
      <td>Wolves</td>
      <td>Forward</td>
      <td>3.466667</td>
      <td>29.706266</td>
      <td>7.5</td>
      <td>9.0</td>
      <td>5.2</td>
      <td>26</td>
    </tr>
    <tr>
      <th>Dennis</th>
      <td>Watford</td>
      <td>Forward</td>
      <td>4.528302</td>
      <td>23.566794</td>
      <td>5.3</td>
      <td>10.0</td>
      <td>2.2</td>
      <td>24</td>
    </tr>
    <tr>
      <th>Pukki</th>
      <td>Norwich</td>
      <td>Forward</td>
      <td>3.898305</td>
      <td>26.508685</td>
      <td>5.9</td>
      <td>11.0</td>
      <td>3.0</td>
      <td>23</td>
    </tr>
    <tr>
      <th>Aubameyang</th>
      <td>Arsenal</td>
      <td>Forward</td>
      <td>2.222222</td>
      <td>29.469080</td>
      <td>9.9</td>
      <td>12.0</td>
      <td>5.0</td>
      <td>22</td>
    </tr>
    <tr>
      <th>Bamford</th>
      <td>Leeds</td>
      <td>Forward</td>
      <td>2.692308</td>
      <td>28.974901</td>
      <td>7.8</td>
      <td>13.0</td>
      <td>1.8</td>
      <td>21</td>
    </tr>
    <tr>
      <th>A.Armstrong</th>
      <td>Southampton</td>
      <td>Forward</td>
      <td>3.500000</td>
      <td>21.879445</td>
      <td>6.0</td>
      <td>14.0</td>
      <td>2.0</td>
      <td>21</td>
    </tr>
    <tr>
      <th>Wood</th>
      <td>Burnley</td>
      <td>Forward</td>
      <td>2.941176</td>
      <td>22.420666</td>
      <td>6.8</td>
      <td>15.0</td>
      <td>1.8</td>
      <td>20</td>
    </tr>
    <tr>
      <th>Ayew</th>
      <td>Crystal Palace</td>
      <td>Forward</td>
      <td>2.033898</td>
      <td>12.960943</td>
      <td>5.9</td>
      <td>16.0</td>
      <td>1.8</td>
      <td>12</td>
    </tr>
    <tr>
      <th>Kane</th>
      <td>Spurs</td>
      <td>Forward</td>
      <td>0.743802</td>
      <td>25.905126</td>
      <td>12.1</td>
      <td>17.0</td>
      <td>2.0</td>
      <td>9</td>
    </tr>
    <tr>
      <th>Rodrigo</th>
      <td>Leeds</td>
      <td>Forward</td>
      <td>1.269841</td>
      <td>11.350354</td>
      <td>6.3</td>
      <td>18.0</td>
      <td>1.5</td>
      <td>8</td>
    </tr>
  </tbody>
</table>