<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>value</th>
      <th>projection</th>
      <th>now_cost</th>
      <th>Total rank</th>
      <th>form</th>
      <th>total_points</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Salah</th>
      <td>Liverpool</td>
      <td>Midfielder</td>
      <td>5.555556</td>
      <td>69.747603</td>
      <td>12.6</td>
      <td>1.0</td>
      <td>10.0</td>
      <td>70</td>
    </tr>
    <tr>
      <th>Townsend</th>
      <td>Everton</td>
      <td>Midfielder</td>
      <td>7.818182</td>
      <td>38.039859</td>
      <td>5.5</td>
      <td>2.0</td>
      <td>8.5</td>
      <td>43</td>
    </tr>
    <tr>
      <th>Doucouré</th>
      <td>Everton</td>
      <td>Midfielder</td>
      <td>7.678571</td>
      <td>41.085402</td>
      <td>5.6</td>
      <td>3.0</td>
      <td>7.0</td>
      <td>43</td>
    </tr>
    <tr>
      <th>Benrahma</th>
      <td>West Ham</td>
      <td>Midfielder</td>
      <td>6.666667</td>
      <td>40.766690</td>
      <td>6.6</td>
      <td>4.0</td>
      <td>4.5</td>
      <td>44</td>
    </tr>
    <tr>
      <th>Son</th>
      <td>Spurs</td>
      <td>Midfielder</td>
      <td>4.200000</td>
      <td>47.759122</td>
      <td>10.0</td>
      <td>5.0</td>
      <td>4.8</td>
      <td>42</td>
    </tr>
    <tr>
      <th>Sarr</th>
      <td>Watford</td>
      <td>Midfielder</td>
      <td>6.349206</td>
      <td>36.347490</td>
      <td>6.3</td>
      <td>6.0</td>
      <td>6.8</td>
      <td>40</td>
    </tr>
    <tr>
      <th>Mané</th>
      <td>Liverpool</td>
      <td>Midfielder</td>
      <td>3.445378</td>
      <td>46.493366</td>
      <td>11.9</td>
      <td>7.0</td>
      <td>6.2</td>
      <td>41</td>
    </tr>
    <tr>
      <th>Fernandes</th>
      <td>Man Utd</td>
      <td>Midfielder</td>
      <td>3.193277</td>
      <td>48.126256</td>
      <td>11.9</td>
      <td>8.0</td>
      <td>3.8</td>
      <td>38</td>
    </tr>
    <tr>
      <th>Gray</th>
      <td>Everton</td>
      <td>Midfielder</td>
      <td>6.206897</td>
      <td>35.449880</td>
      <td>5.8</td>
      <td>9.0</td>
      <td>4.2</td>
      <td>36</td>
    </tr>
    <tr>
      <th>Pogba</th>
      <td>Man Utd</td>
      <td>Midfielder</td>
      <td>4.615385</td>
      <td>37.192578</td>
      <td>7.8</td>
      <td>10.0</td>
      <td>3.5</td>
      <td>36</td>
    </tr>
    <tr>
      <th>Gallagher</th>
      <td>Crystal Palace</td>
      <td>Midfielder</td>
      <td>5.964912</td>
      <td>34.360270</td>
      <td>5.7</td>
      <td>11.0</td>
      <td>4.0</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Kovacic</th>
      <td>Chelsea</td>
      <td>Midfielder</td>
      <td>6.346154</td>
      <td>30.830815</td>
      <td>5.2</td>
      <td>12.0</td>
      <td>5.8</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Greenwood</th>
      <td>Man Utd</td>
      <td>Midfielder</td>
      <td>4.675325</td>
      <td>34.565967</td>
      <td>7.7</td>
      <td>13.0</td>
      <td>2.5</td>
      <td>36</td>
    </tr>
    <tr>
      <th>Zaha</th>
      <td>Crystal Palace</td>
      <td>Midfielder</td>
      <td>4.492754</td>
      <td>33.915842</td>
      <td>6.9</td>
      <td>14.0</td>
      <td>6.0</td>
      <td>31</td>
    </tr>
    <tr>
      <th>Raphinha</th>
      <td>Leeds</td>
      <td>Midfielder</td>
      <td>4.696970</td>
      <td>30.185652</td>
      <td>6.6</td>
      <td>15.0</td>
      <td>5.2</td>
      <td>31</td>
    </tr>
    <tr>
      <th>Jota</th>
      <td>Liverpool</td>
      <td>Midfielder</td>
      <td>4.210526</td>
      <td>31.254261</td>
      <td>7.6</td>
      <td>16.0</td>
      <td>3.8</td>
      <td>32</td>
    </tr>
    <tr>
      <th>Saka</th>
      <td>Arsenal</td>
      <td>Midfielder</td>
      <td>4.603175</td>
      <td>29.013148</td>
      <td>6.3</td>
      <td>17.0</td>
      <td>6.2</td>
      <td>29</td>
    </tr>
    <tr>
      <th>Mbeumo</th>
      <td>Brentford</td>
      <td>Midfielder</td>
      <td>4.909091</td>
      <td>25.311909</td>
      <td>5.5</td>
      <td>18.0</td>
      <td>4.8</td>
      <td>27</td>
    </tr>
    <tr>
      <th>Trossard</th>
      <td>Brighton</td>
      <td>Midfielder</td>
      <td>4.218750</td>
      <td>28.183484</td>
      <td>6.4</td>
      <td>19.0</td>
      <td>5.0</td>
      <td>27</td>
    </tr>
    <tr>
      <th>Fornals</th>
      <td>West Ham</td>
      <td>Midfielder</td>
      <td>4.666667</td>
      <td>27.630185</td>
      <td>6.0</td>
      <td>20.0</td>
      <td>2.0</td>
      <td>28</td>
    </tr>
  </tbody>
</table>