<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>value</th>
      <th>projection</th>
      <th>now_cost</th>
      <th>Total rank</th>
      <th>form</th>
      <th>total_points</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Salah</th>
      <td>Liverpool</td>
      <td>Midfielder</td>
      <td>4.523810</td>
      <td>59.703189</td>
      <td>12.6</td>
      <td>1.0</td>
      <td>9.0</td>
      <td>57</td>
    </tr>
    <tr>
      <th>Benrahma</th>
      <td>West Ham</td>
      <td>Midfielder</td>
      <td>6.363636</td>
      <td>32.117300</td>
      <td>6.6</td>
      <td>2.0</td>
      <td>5.3</td>
      <td>42</td>
    </tr>
    <tr>
      <th>Sarr</th>
      <td>Watford</td>
      <td>Midfielder</td>
      <td>6.190476</td>
      <td>34.636907</td>
      <td>6.3</td>
      <td>3.0</td>
      <td>8.7</td>
      <td>39</td>
    </tr>
    <tr>
      <th>Doucouré</th>
      <td>Everton</td>
      <td>Midfielder</td>
      <td>6.785714</td>
      <td>34.517054</td>
      <td>5.6</td>
      <td>4.0</td>
      <td>7.7</td>
      <td>38</td>
    </tr>
    <tr>
      <th>Townsend</th>
      <td>Everton</td>
      <td>Midfielder</td>
      <td>6.000000</td>
      <td>32.319699</td>
      <td>5.5</td>
      <td>5.0</td>
      <td>8.0</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Gray</th>
      <td>Everton</td>
      <td>Midfielder</td>
      <td>5.862069</td>
      <td>32.454839</td>
      <td>5.8</td>
      <td>6.0</td>
      <td>5.0</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Pogba</th>
      <td>Man Utd</td>
      <td>Midfielder</td>
      <td>4.487179</td>
      <td>37.251500</td>
      <td>7.8</td>
      <td>7.0</td>
      <td>4.3</td>
      <td>35</td>
    </tr>
    <tr>
      <th>Mané</th>
      <td>Liverpool</td>
      <td>Midfielder</td>
      <td>2.857143</td>
      <td>47.081784</td>
      <td>11.9</td>
      <td>8.0</td>
      <td>6.0</td>
      <td>34</td>
    </tr>
    <tr>
      <th>Greenwood</th>
      <td>Man Utd</td>
      <td>Midfielder</td>
      <td>4.545455</td>
      <td>35.686952</td>
      <td>7.7</td>
      <td>9.0</td>
      <td>3.0</td>
      <td>35</td>
    </tr>
    <tr>
      <th>Fernandes</th>
      <td>Man Utd</td>
      <td>Midfielder</td>
      <td>2.773109</td>
      <td>57.955763</td>
      <td>11.9</td>
      <td>10.0</td>
      <td>3.3</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Gallagher</th>
      <td>Crystal Palace</td>
      <td>Midfielder</td>
      <td>5.614035</td>
      <td>32.073787</td>
      <td>5.7</td>
      <td>11.0</td>
      <td>4.7</td>
      <td>32</td>
    </tr>
    <tr>
      <th>Son</th>
      <td>Spurs</td>
      <td>Midfielder</td>
      <td>3.200000</td>
      <td>54.723660</td>
      <td>10.0</td>
      <td>12.0</td>
      <td>3.0</td>
      <td>32</td>
    </tr>
    <tr>
      <th>Kovacic</th>
      <td>Chelsea</td>
      <td>Midfielder</td>
      <td>5.961538</td>
      <td>25.829208</td>
      <td>5.2</td>
      <td>13.0</td>
      <td>7.0</td>
      <td>31</td>
    </tr>
    <tr>
      <th>Zaha</th>
      <td>Crystal Palace</td>
      <td>Midfielder</td>
      <td>4.202899</td>
      <td>33.864051</td>
      <td>6.9</td>
      <td>14.0</td>
      <td>7.3</td>
      <td>29</td>
    </tr>
    <tr>
      <th>Jota</th>
      <td>Liverpool</td>
      <td>Midfielder</td>
      <td>3.896104</td>
      <td>29.886689</td>
      <td>7.7</td>
      <td>15.0</td>
      <td>4.3</td>
      <td>30</td>
    </tr>
    <tr>
      <th>Raphinha</th>
      <td>Leeds</td>
      <td>Midfielder</td>
      <td>4.307692</td>
      <td>27.352130</td>
      <td>6.5</td>
      <td>16.0</td>
      <td>6.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>Saka</th>
      <td>Arsenal</td>
      <td>Midfielder</td>
      <td>4.193548</td>
      <td>25.458737</td>
      <td>6.2</td>
      <td>17.0</td>
      <td>7.3</td>
      <td>26</td>
    </tr>
    <tr>
      <th>Tielemans</th>
      <td>Leicester</td>
      <td>Midfielder</td>
      <td>4.062500</td>
      <td>26.830479</td>
      <td>6.4</td>
      <td>18.0</td>
      <td>4.7</td>
      <td>26</td>
    </tr>
    <tr>
      <th>Fornals</th>
      <td>West Ham</td>
      <td>Midfielder</td>
      <td>4.333333</td>
      <td>25.620407</td>
      <td>6.0</td>
      <td>19.0</td>
      <td>2.0</td>
      <td>26</td>
    </tr>
    <tr>
      <th>Trossard</th>
      <td>Brighton</td>
      <td>Midfielder</td>
      <td>3.750000</td>
      <td>27.363959</td>
      <td>6.4</td>
      <td>20.0</td>
      <td>5.7</td>
      <td>24</td>
    </tr>
  </tbody>
</table>