<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>value</th>
      <th>projection</th>
      <th>now_cost</th>
      <th>Total rank</th>
      <th>form</th>
      <th>total_points</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Salah</th>
      <td>Liverpool</td>
      <td>Midfielder</td>
      <td>3.040000</td>
      <td>41.722542</td>
      <td>12.5</td>
      <td>1.0</td>
      <td>7.0</td>
      <td>38</td>
    </tr>
    <tr>
      <th>Greenwood</th>
      <td>Man Utd</td>
      <td>Midfielder</td>
      <td>4.025974</td>
      <td>30.072321</td>
      <td>7.7</td>
      <td>2.0</td>
      <td>7.7</td>
      <td>31</td>
    </tr>
    <tr>
      <th>Pogba</th>
      <td>Man Utd</td>
      <td>Midfielder</td>
      <td>4.025974</td>
      <td>29.211095</td>
      <td>7.7</td>
      <td>3.0</td>
      <td>5.0</td>
      <td>31</td>
    </tr>
    <tr>
      <th>Benrahma</th>
      <td>West Ham</td>
      <td>Midfielder</td>
      <td>4.531250</td>
      <td>27.325579</td>
      <td>6.4</td>
      <td>4.0</td>
      <td>5.7</td>
      <td>29</td>
    </tr>
    <tr>
      <th>Fernandes</th>
      <td>Man Utd</td>
      <td>Midfielder</td>
      <td>2.583333</td>
      <td>36.509187</td>
      <td>12.0</td>
      <td>5.0</td>
      <td>3.7</td>
      <td>31</td>
    </tr>
    <tr>
      <th>Gallagher</th>
      <td>Crystal Palace</td>
      <td>Midfielder</td>
      <td>4.642857</td>
      <td>24.151204</td>
      <td>5.6</td>
      <td>6.0</td>
      <td>8.7</td>
      <td>26</td>
    </tr>
    <tr>
      <th>Gray</th>
      <td>Everton</td>
      <td>Midfielder</td>
      <td>4.561404</td>
      <td>24.119465</td>
      <td>5.7</td>
      <td>7.0</td>
      <td>8.0</td>
      <td>26</td>
    </tr>
    <tr>
      <th>Torres</th>
      <td>Man City</td>
      <td>Midfielder</td>
      <td>3.611111</td>
      <td>26.782276</td>
      <td>7.2</td>
      <td>8.0</td>
      <td>8.0</td>
      <td>26</td>
    </tr>
    <tr>
      <th>Doucouré</th>
      <td>Everton</td>
      <td>Midfielder</td>
      <td>4.545455</td>
      <td>24.548222</td>
      <td>5.5</td>
      <td>9.0</td>
      <td>5.7</td>
      <td>25</td>
    </tr>
    <tr>
      <th>Kovacic</th>
      <td>Chelsea</td>
      <td>Midfielder</td>
      <td>4.600000</td>
      <td>22.126223</td>
      <td>5.0</td>
      <td>10.0</td>
      <td>5.7</td>
      <td>23</td>
    </tr>
    <tr>
      <th>Fornals</th>
      <td>West Ham</td>
      <td>Midfielder</td>
      <td>3.833333</td>
      <td>22.263687</td>
      <td>6.0</td>
      <td>11.0</td>
      <td>6.0</td>
      <td>23</td>
    </tr>
    <tr>
      <th>Mané</th>
      <td>Liverpool</td>
      <td>Midfielder</td>
      <td>2.016807</td>
      <td>29.527135</td>
      <td>11.9</td>
      <td>12.0</td>
      <td>7.0</td>
      <td>24</td>
    </tr>
    <tr>
      <th>Son</th>
      <td>Spurs</td>
      <td>Midfielder</td>
      <td>2.300000</td>
      <td>36.504545</td>
      <td>10.0</td>
      <td>13.0</td>
      <td>4.3</td>
      <td>23</td>
    </tr>
    <tr>
      <th>Townsend</th>
      <td>Everton</td>
      <td>Midfielder</td>
      <td>3.888889</td>
      <td>20.859977</td>
      <td>5.4</td>
      <td>14.0</td>
      <td>5.3</td>
      <td>21</td>
    </tr>
    <tr>
      <th>Zaha</th>
      <td>Crystal Palace</td>
      <td>Midfielder</td>
      <td>2.753623</td>
      <td>22.202377</td>
      <td>6.9</td>
      <td>15.0</td>
      <td>5.7</td>
      <td>19</td>
    </tr>
    <tr>
      <th>Jota</th>
      <td>Liverpool</td>
      <td>Midfielder</td>
      <td>2.597403</td>
      <td>21.055884</td>
      <td>7.7</td>
      <td>16.0</td>
      <td>4.0</td>
      <td>20</td>
    </tr>
    <tr>
      <th>Trossard</th>
      <td>Brighton</td>
      <td>Midfielder</td>
      <td>2.812500</td>
      <td>20.052165</td>
      <td>6.4</td>
      <td>17.0</td>
      <td>5.3</td>
      <td>18</td>
    </tr>
    <tr>
      <th>Grealish</th>
      <td>Man City</td>
      <td>Midfielder</td>
      <td>2.250000</td>
      <td>19.579195</td>
      <td>8.0</td>
      <td>18.0</td>
      <td>5.7</td>
      <td>18</td>
    </tr>
    <tr>
      <th>Canós</th>
      <td>Brentford</td>
      <td>Midfielder</td>
      <td>3.272727</td>
      <td>17.711409</td>
      <td>5.5</td>
      <td>19.0</td>
      <td>2.3</td>
      <td>18</td>
    </tr>
    <tr>
      <th>Dele</th>
      <td>Spurs</td>
      <td>Midfielder</td>
      <td>2.461538</td>
      <td>17.493049</td>
      <td>6.5</td>
      <td>20.0</td>
      <td>4.3</td>
      <td>16</td>
    </tr>
  </tbody>
</table>